In [21]:
import pandas as pd
import numpy as np
import datetime

In [22]:
mental_df = pd.read_csv("Resources/Indicators_of_Anxiety_or_Depression_Based_on_Reported_Frequency_of_Symptoms_During_Last_7_Days.csv")
mental_df.head()

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,Low CI,High CI,Confidence Interval,Quartile Range
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,23.5,22.7,24.3,22.7 - 24.3,NaN
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,32.7,30.2,35.2,30.2 - 35.2,NaN
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,25.7,24.1,27.3,24.1 - 27.3,NaN
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,24.8,23.3,26.2,23.3 - 26.2,NaN
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,23.2,21.5,25.0,21.5 - 25.0,NaN

In [23]:
mental_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8901 entries, 0 to 8900
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Indicator               8901 non-null   object
 1   Group                   8901 non-null   object
 2   State                   8901 non-null   object
 3   Subgroup                8901 non-null   object
 4   Phase                   8901 non-null   object
 5   Time Period             8901 non-null   int64
 6   Time Period Label       8901 non-null   object
 7   Time Period Start Date  8901 non-null   object
 8   Time Period End Date    8901 non-null   object
 9   Value                   8604 non-null   float64
 10  Low CI                  8604 non-null   float64
 11  High CI                 8604 non-null   float64
 12  Confidence Interval     8604 non-null   object
 13  Quartile Range          6120 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 973.7+ KB

In [24]:
mental_df=mental_df.drop(columns=["Low CI", "High CI", "Confidence Interval", "Quartile Range", "Phase", "Time Period", "Time Period End Date", "Time Period Label"])

In [25]:
mental_df.to_csv("Resources/Almost_Clean.csv")

In [26]:
mental_df.head()

,Indicator,Group,State,Subgroup,Time Period Start Date,Value
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,04/23/2020,23.5
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,04/23/2020,32.7
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,04/23/2020,25.7
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,04/23/2020,24.8
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,04/23/2020,23.2

In [27]:
mental_df['Time Period Start Date'] = pd.to_datetime(mental_df['Time Period Start Date'])
mental_df['Time Period Start Date'] = pd.to_datetime(mental_df['Time Period Start Date'],format='%Y%m%d')
mental_df['year'] = pd.DatetimeIndex(mental_df['Time Period Start Date']).year
mental_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8901 entries, 0 to 8900
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Indicator               8901 non-null   object
 1   Group                   8901 non-null   object
 2   State                   8901 non-null   object
 3   Subgroup                8901 non-null   object
 4   Time Period Start Date  8901 non-null   datetime64[ns]
 5   Value                   8604 non-null   float64
 6   year                    8901 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 486.9+ KB

In [28]:
mental_2020_df = mental_df.loc[(mental_df['year'] == 2020)]
mental_2021_df = mental_df.loc[(mental_df['year'] == 2021)]

In [29]:
mental_2020_df.head()

,Indicator,Group,State,Subgroup,Time Period Start Date,Value,year
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,2020-04-23,23.5,2020
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,2020-04-23,32.7,2020
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,2020-04-23,25.7,2020
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,2020-04-23,24.8,2020
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,2020-04-23,23.2,2020

In [30]:
mental_2021_df.head()

,Indicator,Group,State,Subgroup,Time Period Start Date,Value,year
4486,Symptoms of Depressive Disorder,National Estimate,United States,United States,2021-01-06,28.4,2021
4487,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,2021-01-06,41.1,2021
4488,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,2021-01-06,31.9,2021
4489,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,2021-01-06,29.1,2021
4490,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,2021-01-06,27.1,2021

In [31]:
mental_2020_df.to_csv("Resources/Almost_Clean_2020.csv")
mental_2021_df.to_csv("Resources/Almost_Clean_2021.csv")

In [32]:
mental_2020_df['Group'].unique()

array(['National Estimate', 'By Age', 'By Sex',
       'By Race/Hispanic ethnicity', 'By Education', 'By State'],
      dtype=object)